@page
@using PerfumeStores.Core.DTOs;
@model PerfumeStores.Pages.OrderManage.StatisticalModel
@{
}
<form method="post">
    <div>@Html.Raw(Model.ChartJson)</div>
    <br />
    <div>@Html.Raw(Model.ChartJson2)</div>
    <br />
</form>