@page
@model PerfumeStores.Pages.ViewProfile.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}

@if (ViewData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @ViewData["Message"]
    </div>
}
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Personal Profile</h4>
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="row">
                            <input type="hidden" asp-for="cus.CustomerId" />
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Old password<span>*</span></p>
                                    <strong>
                                        <input type="password" asp-for="OldPassword" style="font-weight: bold; color:black" required></strong>
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>New password<span>*</span></p>
                                        <strong><input type="text" asp-for="NewPassword" style="font-weight: bold; color:black" required></strong>
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Re-type Password<span>*</span></p>
                                        <strong><input type="password"  asp-for="ConfirmPassword" style="font-weight: bold; color:black" required></strong>
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div>
                    <a asp-page="./Update" class="btn btn-danger" asp-route-id="@Model.cus?.CustomerId">Back</a>
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</section>
<script>
    function goBack() {
        window.history.back();
    }
</script>